@import url(./reset.css);

:root {
  --calc-width: 25rem;
}

html {
  font-size: 14px;
  font-family: sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #f3eada;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  height: 5rem;
  font-size: 1.25rem;
  color: darkslateblue;
  background-color: #f3eada;
  border: 0.125rem solid black;
}

button:hover {
  background-color: #c4c9b7;
}

button:active {
  border-width: 0.175rem;
}

.calculator {
  margin: 10rem auto;
  padding: 1rem;
  background-color: darkslateblue;
  width: var(--calc-width);
  border: 0.125rem solid black;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0.5rem;
}

.display {
  height: 4.5rem;
  grid-column: 1 / 5;
  border: 0.125rem solid black;
  font-size: 1.75rem;
  transition: color 0.017s;
}

.blinck-display {
  color: white;
}

.operator {
  background-color: #7681a8;
  color: #f3eada;
}

.operator:hover {
  background-color: #8471a0;
}

.command {
  background-color: #a6516c;
  color: #f3eada;
}

.command:hover {
  background-color: #ad584a;
}

#equals {
  background-color: #4da693;
  color: #f3eada;
}

#equals:hover {
  background-color: #009ba3;
}

@media (max-width: 400px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 340px) {
  html {
    font-size: 10px;
  }
}
