@import url(./reset.css);

:root {
  --calc-width: 25rem;
}

html {
  font-size: 14px;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  height: 4rem;
  font-size: 1.25rem;
  background-color: whitesmoke;
  border: 0.125rem solid black;
  border-radius: 0.3rem;
  box-shadow: 0rem 0rem 0.2rem grey;
}

button:active {
  border: 0.1rem solid black;
  box-shadow: none;
}

.calculator {
  padding: 1rem;
  background-color: khaki;
  width: var(--calc-width);
  border: 0.1rem solid grey;
  border-radius: 0.3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1rem;
}

.display {
  height: 4rem;
  grid-column: 1 / 5;
  border: 0.2rem solid black;
  font-size: 1.75rem;
}

.operator {
  background-color: seagreen;
  color: whitesmoke;
}

.command {
  background-color: darkred;
  color: whitesmoke;
}
